mat-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
}

.spacer {
  flex: 1 1 auto;
}

button {
  margin-left: 8px;
}

.header-text {
  font-family: Arial, sans-serif;
}
