
<h1>Designer</h1>

<h4>Edit relevant information for the role</h4>

<mat-form-field appearance="fill">
  <mat-label>Title</mat-label>
  <input matInput>
</mat-form-field>
<mat-form-field appearance="fill">
  <mat-label>Monthly income</mat-label>
  <input matInput>
</mat-form-field>

<section>
  <div class="example-button-row">
    <button mat-stroked-button>Save changes</button>
    <button mat-stroked-button>Cancel</button>
    <button mat-stroked-button>Delete Designer from the company</button>
  </div>
</section>
