<div class="wrapper">
<body>

<div style="display: flex;
  justify-content: space-between;
  align-items: center;">

  <div class="text1">Welcome Back! <br>
    <a class="text2">Take a look at your revenue for April,2023</a>
  </div>
  <button mat-button routerLink="/new-team">Create New</button>
</div>
<div style="display: flex; justify-content: space-between; align-items: center; background-color: #F3F2FD; padding-left: 30px; padding-right: 30px; margin-top: 5%; border-radius:  12px">
 <div>
   <h3 style="font-size: 2em">$ 320 000</h3>
   <p style="font-size: 1.5em">Total Revenue</p>
 </div>
  <div>
    <h3 style="font-size: 2em">$ 120 000</h3>
    <p style="font-size: 1.5em">Salaries</p>
  </div>
  <div>
    <h3 style="font-size: 2em">10</h3>
    <p style="font-size: 1.5em">Teams</p>
  </div>
  <div>
    <h3 style="font-size: 2em">5</h3>
    <p style="font-size: 1.5em">Roles</p>
  </div>
  <div>
    <h3 style="font-size: 2em">20</h3>
    <p style="font-size: 1.5em">Employees</p>
  </div>
</div>
<div *ngFor="let team of teams">
  <div style="display: flex; flex-direction: column">
<app-team-card
  [title]="team.title"
  [members]="team.employees.length"
  [profit]="40000"
  [income]="50000"
  [loss]="10000"
  [id]="team.id"
/>
  </div>
</div>

</body>
</div>
