<body style="width: 100%; height: 100%; margin: 0; display: flex; justify-content: center; align-items: center">
<div style="background-color: #F9F9F9; padding: 50px; width:50%; margin-top: 5%">
  <div style="display: flex; justify-content: center">
 <h2>New Team</h2>
  </div>
  <div style="display: flex; justify-content: center;">
    <h3 style="font-weight: normal">Here you can create new team in your company</h3>
  </div>
  <form style="display:flex; flex-direction: column">
    <label style="margin-bottom: 2%">Name</label>
    <input style="border: none; border-radius: 8px; padding: 10px 18px 10px 18px; margin-bottom: 5%" type="text" placeholder="Apple Inc - iOS Team">
    <button style="background-color: #FCA311; color: white; border: none; border-radius: 8px; padding: 10px 18px 10px 18px; margin-bottom: 5%" type="submit">Create new</button>
    <button style="background-color:white;border: none; border-radius: 8px; padding: 10px 18px 10px 18px; margin-bottom: 5%" mat-button routerLink="/teams">Cancel</button>
  </form>






</div>
</body>
